.product-category-weight-table-container {
  .d-flex {
    display: flex;
  }
  .justify-between {
    justify-content: space-between;
  }
  .gap-1 {
    column-gap: 10px;
  }
  .gap-2 {
    column-gap: 20px;
  }

  table,
  th,
  td {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  table {
    border-collapse: separate;
    border-spacing: 0px;
    border-width: 1px 0 0 1px;
    margin-bottom: 24px;
    width: 100%;
  }

  caption,
  th,
  td {
    font-weight: normal;
    text-align: left;
  }

  tr td {
    &:nth-child(2) {
      text-align: center;
    }
  }

  th {
    border-width: 0 1px 1px 0;
    font-weight: bold;
    line-height: 24px;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding: 10px;
    width: 50%;
  }

  td {
    border-width: 0 1px 1px 0;
    padding: 10px;
  }

  tr:nth-child(odd) {
    background: #eee;
  }

  h1 {
    text-align: center;
  }

  .quantity-input {
    width: 80px;
  }

  #total-weight {
    font-weight: 1.2rem;
    font-weight: 700;
  }
}

// 상세페이지에서는 안내문구 크기를 줄인다
.single-product .product-category-weight-table-container {
  & > h3 {
    font-size: 1.15rem;
  }
}
