.product-category-weight-table-container .d-flex {
  display: flex;
}
.product-category-weight-table-container .justify-between {
  justify-content: space-between;
}
.product-category-weight-table-container .gap-1 {
  column-gap: 10px;
}
.product-category-weight-table-container .gap-2 {
  column-gap: 20px;
}
.product-category-weight-table-container table,
.product-category-weight-table-container th,
.product-category-weight-table-container td {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.product-category-weight-table-container table {
  border-collapse: separate;
  border-spacing: 0px;
  border-width: 1px 0 0 1px;
  margin-bottom: 24px;
  width: 100%;
}
.product-category-weight-table-container caption,
.product-category-weight-table-container th,
.product-category-weight-table-container td {
  font-weight: normal;
  text-align: left;
}
.product-category-weight-table-container tr td:nth-child(2) {
  text-align: center;
}
.product-category-weight-table-container th {
  border-width: 0 1px 1px 0;
  font-weight: bold;
  line-height: 24px;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding: 10px;
  width: 50%;
}
.product-category-weight-table-container td {
  border-width: 0 1px 1px 0;
  padding: 10px;
}
.product-category-weight-table-container tr:nth-child(odd) {
  background: #eee;
}
.product-category-weight-table-container h1 {
  text-align: center;
}
.product-category-weight-table-container .quantity-input {
  width: 80px;
}
.product-category-weight-table-container #total-weight {
  font-weight: 1.2rem;
  font-weight: 700;
}

.single-product .product-category-weight-table-container > h3 {
  font-size: 1.15rem;
}
